h1, .filter{
  text-align: center;
}

form {
  text-align: center;
}

.filter {
  text-align: center;
}

.divider {
  background: linear-gradient(to right, #fff 0%, #bbb 50%, #fff 100%);
  height: 4px;
  margin: 10 auto;
}

span {
  display: inline-block;
  width: 200px;
}

.items-container {
  margin: 0 auto;
  text-align: center;
}

input {
  line-height: 20px;
  padding: 2 0;
}

#add {
  height: 26px;
}

body {
  margin: 0 auto;
  width: 600px;
}

.item-row:nth-child(2n) {
  background-color: #bbb;
}
